<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_name %><br>
    <%= f.text_field :restaurant_name %>
  </div>
  <div class="field">
    <%= f.label :restaurant_description %><br>
    <%= f.text_area :restaurant_description %>
  </div>
  <div class="field">
    <%= f.label :restaurant_type %><br>
    <%= f.text_field :restaurant_type %>
  </div>
  <div class="field">
    <%= f.label :restaurant_address %><br>
    <%= f.text_field :restaurant_address %>
  </div>
  <div class="field">
    <%= f.label :restaurant_phone %><br>
    <%= f.text_field :restaurant_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
