<p id="notice"><%= notice %></p>

<h1>Listing Orden Items</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Id item</th>
      <th>Item name</th>
      <th>Item image</th>
      <th>Id orden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_items.each do |orden_item| %>
      <tr>
        <td><%= orden_item.cantidad %></td>
        <td><%= orden_item.id_item %></td>
        <td><%= orden_item.item_name %></td>
        <% orden_item.item_image.gsub('_','+') %>
        <td><img src="data:image/png;base64,<%=orden_item.item_image%>" width="50" /></td>
        <td><%= orden_item.id_orden %></td>
        <td><%= link_to 'Show', orden_item %></td>
        <td><%= link_to 'Edit', edit_orden_item_path(orden_item) %></td>
        <td><%= link_to 'Destroy', orden_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden item', new_orden_item_path %>
