<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @orden_item.cantidad %>
</p>

<p>
  <strong>Id orden:</strong>
  <%= @orden_item.orden.id %>
</p>

<p>
  <strong>Id item:</strong>
  <%= @orden_item.item.id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @orden_item.item_name %>
</p>

<p>
  <strong>Item image:</strong>
  <% orden_item.item_image.gsub('_','+') %>
  <img src="data:image/png;base64,<%=orden_item.item_image%>" width="50" />
</p>

<%= link_to 'Edit', edit_orden_item_path(@orden_item) %> |
<%= link_to 'Back', orden_items_path %>
