<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Item time:</strong>
  <%= @item.item_time %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @item.item_price %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @item.restaurant %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
